* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header------------------------- */
header {
	height: 90px;
	background-color: black;
	display: flex;
	flex-direction: wrap;
	justify-content: space-between;
	align-items: center;
	top: 0;
	bottom: 0;
}

header h1 {
background-color: darkseagreen;
font-size: 50px;
color: black;
padding: 0 10px 0 75px;
}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header nav ul li a {
	/* list-style: none; */
	color: darkseagreen;
	font-weight: bold;
	font-size: larger;
	padding: 10px 15px;
}

/* Hero Container------------------------------------- */
.hero {
	height: 265px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url('../images/hero_background_image.JPG');
	background-size: cover;
	background-blend-mode: soft-light;
	position: relative;
}

.hero h2 {
	font-size: 35px;
	padding: 10px;
	position: absolute;
	background-color: darkseagreen;
	right: 75px;
	bottom: 10px;
	}

	.myPhoto {
		flex: 1 12%;
	}

	.myPhoto img {
		position: absolute;
		right: 75px;
		bottom: 10px;
		max-width: 100;
		}

/* Main container------------------------------------- */
.bodyPage {
	margin: 25px 50px;
}
.section-title {
	border-right: 5px solid gray;
	font-size: 50px;
	color: rgb(69, 90, 122);
	text-align: right;
	padding-right: 25px;
	width: 200px;
	}

/* Work section--------------------------------------- */
#aboutMe {
	margin-bottom: 25px;
	margin-top: 25px;
	display: flex;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items: center;
}

#aboutMe div {
	padding-left: 25px;
}

/* Work section---------------------------------------- */
#works {
	margin: 25px 0;
	display: flex;
}

.work-item {
	text-decoration: none;
	position: absolute;
	background-color: darkseagreen;
	bottom: 2%;
	right: 2%;
	color:darkcyan;
	border-radius: 10%;
	padding: 1%;
}

.work-container {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	}

.fan-page {
	background-image: url('../images/fanPage.jfif');
 background-blend-mode: soft-light;
	background-size: cover;
	width: 100%;
	height: 300px;
	margin: 0 0 15px 4%;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.runBuddy {
	background-color: dimgray;
 width: 47%;
	height: 150px;
	margin-bottom: 15px;
	margin-left: 4%;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.calculator {
	background-color: brown;
	width: 47%;
	height: 150px;
	margin-bottom: 15px;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.puzzle {
	background-color: aqua;
	width: 47%;
	height: 150px;
	margin-left: 4%;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.under-construction {
	background-color: skyblue;
	width: 47%;
	height: 150px;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}




/* Contact section---------------------------------------- */
#contact {
	background-color: rgb(212, 201, 212);
	width: 100%;
	height: 400px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}













