* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-section, .work-section, .contact-info {
	margin: 5% 0;
}

/* Header------------------------- */
header {
	height: 90px;
	background-color: black;
	display: flex;
	flex-direction: wrap;
	justify-content: space-between;
	align-items: center;
	top: 0;
	bottom: 0;
}

header h1 {
background-color: darkseagreen;
font-size: 50px;
color: black;
padding: 0 10px 0 75px;
}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header nav ul li a {
	/* list-style: none; */
	color: darkseagreen;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 15px;
}

/* Hero Container------------------------------------- */
.hero {
	height: 265px;
	/* margin-bottom: 0%; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url('../images/hero_background_image.JPG');
	background-size: cover;
	background-blend-mode: soft-light;
	position: relative;
}

.hero h2 {
	font-size: 35px;
	padding: 10px;
	position: absolute;
	background-color: darkseagreen;
	right: 75px;
	bottom: 10px;
	}
	.myPhoto img {
		height: 100%;
		width: 225px;
		background-blend-mode: soft-light;
		position: absolute;
		left: 0;
	}

/* Main container------------------------------------- */
.bodyPage {
	margin: 0 0 15% 0;
}

.section-title {
	width: 20%;
	border-right: 5px solid gray;
	font-size: 50px;
	color: rgb(69, 90, 122);
	text-align: right;
	padding-left: 3%;
	padding-right: 2%;
	flex: 0 0 20%;
	overflow: auto;
	}


/* About me section--------------------------------------- */
.about-section {
	height: 100px;
	align-content: center;	
	display: flex;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items: center;
}

.about-section div p {
	margin: 0 5%;
}

/* Work section---------------------------------------- */
.work-section {
	margin-right: 0%;
	display: flex;
}

.work-item {
	text-decoration: none;
	position: absolute;
	background-color: darkseagreen;
	bottom: 2%;
	right: 2%;
	color:darkcyan;
	padding: 1%;
}

.work-container {
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
	}

.fan-page {
	background-image: url('../images/fanPage.jfif');
 background-blend-mode: soft-light;
	background-size: cover;
	width: 100%;
	height: 300px;
	margin: 0 0 15px 4%;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.runBuddy {
	background-image: url('../images/02-run-buddy.jpg');
	background-size: cover;
 width: 47%;
	height: 150px;
	margin-bottom: 15px;
	margin-left: 4%;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.calculator {
	background-image: url('../images/calculator.jpg');
	background-size: cover;
	width: 47%;
	height: 150px;
	margin-bottom: 15px;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.puzzle {
	background-image: url('../images/puzzle.jpg');
	background-size: cover;
	width: 47%;
	height: 150px;
	margin-left: 4%;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.under-construction {
	background-color: skyblue;
	width: 47%;
	height: 150px;
	border: 5px solid darkseagreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}


/* Contact section---------------------------------------- */

.contact-info div address a {
	font-size: 20px;
	font-style: normal;
	color: rgb(69, 90, 122);
		margin: 0 45px;
	}

.contact-info {
	display: flex;
	align-items: center;
	overflow: auto;
}
























